<div class='container'>
  <h1><%= current_user.name %>'s Financial Planner</h1>
  <div class='budget-widget'>
    <h2>Monthly Budget: <strong>$<%= current_user.budget %></strong></h2>
    <h2>Remaining Budget: $<%= current_user.budget %></h2>
  </div>
</div>
