.budget-widget{
  margin-top: 5%;
  max-width: 50%;
  height: auto;
  h2{
    text-indent: 50px;
  }
}

.expenses-table{
  margin-top: 5%;
}

.budget-expense-diff{
  border-top: 2px solid black;
  padding-top: 1.5%;
}


.negative{
  color: firebrick;
}

.positive{
  color: green;
}