<nav class="navbar navbar-inverse bg-inverse">
  <img class="financial-planner-pic" src="http://www.freeiconspng.com/uploads/money-icon-29.png" />
  <ul class="nav navbar-nav navbar-right">
    <% if !current_user %>
      <li><%= link_to 'Register', new_user_path, class: "btn btn-default"%></li>
    <% end %>
    <li class="welcome-btn">
      <%= link_to "Welcome", root_path, class: "btn btn-default" %>
    </li>
  </ul>
</nav>
